body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header img {
    display: block;
    width: 318px;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.all-articles {
    color: #ffffff;
    display: block;
    text-align: right;
    margin-right: 20px;
}
.one-post {
    position: relative;
}

.one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    z-index: -1;
}